/* FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600;1,800&family=Poppins:wght@500&display=swap'); 
/* Base styles or utilities */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(207, 21%, 84%);
}
.container{
    background-color: hsl(192, 29%, 41%);
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 4px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* top players styles */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: hwb(240 9% 53%);
    font-size: 24px;
    margin-top: 3px;
    background-color: #cac159;
    height: 30px;
    width: max-content;
    border-radius: 6px;
    padding: 6px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* repeat(1fr, 1fr, 1fr) */
    grid-row-gap: 30px;

}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{border: 2px;
    margin-bottom: 30px;

}

/* top blog styles */
.top-blogs{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-row-gap: 26px;
   height: 268.86px;
   overflow-y: scroll;
}
.hoverr, .profile-hover{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 5px 0;
    z-index: 1
}
.top-blogs:hover .hoverr{
    visibility: visible;
}
/* scroll bar hidden */
.top-blogs::-webkit-scrollbar {
    display: none;
}
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}

.blog-info{
    margin-left: 16px;
}
.blog-title{
    margin-bottom: 0px;
}
.blog-author{
    color: rgb(184, 189, 189);
    font-size: 15px;
    margin-top: 3px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(77, 52, 6);
}
/* section latest course styles */
.course-banner{
    margin-top: 5px;
    width: 320px;
    height: 320px;
    box-shadow: 12px 15px 15px #1f4e5c;
    border-radius: 10px;
    margin-left: 7px;
}
.courses .course-banner img{
    width: 224px;
    height: 104px;
}
.courses{
    height: 360px;
    width: 870px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 24px;
    overflow-x: scroll;
}
.courses::-webkit-scrollbar {
    display: none;
}
.courses:hover .hoverr{
    visibility: visible;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.fa-star{
    font-size: 13px;
}
.fa-star.filled{
    color: rgb(223, 163, 12);
}
.fa-star.empty{
    color: #cac159;
}
.clock{
    margin-right: 11px;
    border-radius: 16px;
    background-color: #cac159;
    padding: 4px;
}
.star{
    margin-left: 1px;
}
.rate{
    background-color: #cac159;
    border-radius: 50px;
    padding: 3px;
    margin-bottom: 15px;
    box-shadow: 6px -3px #8c8a12;
}
/* Media query */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .player, .top-blogs{
        flex-direction: column;
    }
    .players, .top-blogs, .courses{
     grid-template-columns: repeat(1, 1fr);
    }  
}
/* Tablet  device*/
@media only screen and (min-width: 688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .courses, .top-blogs{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* extra */
/* nav */
.mouse:hover .profile-hover{
    visibility: visible;
}